@font-face {
    font-family: 'PPFraktion';
    src: url('../src/fonts/PPFraktion/PPFraktionMono-Regular-BF675904a6a1564.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PPFraktion';
    src: url('../src/fonts/PPFraktion/PPFraktionMono-Bold-BF675904a6c4c6e.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PPFraktion';
    src: url('../src/fonts/PPFraktion/PPFraktionMono-BoldItalic-BF675904a6f3fc1.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'PPFraktion';
    src: url('../src/fonts/PPFraktion/PPFraktionMono-RegularItalic-BF675904a6859b6.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'PPFraktionSans';
    src: url('../src/fonts/PPFraktion/PPFraktionSans-Bold-BF675904a667d89.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  :root {
    --mlt-font-mono: 'PPFraktion', 'JetBrains Mono', monospace;
    --mlt-font-sans: 'PPFraktionSans', 'JetBrains Mono', monospace;
  }